:root{
    --h1-font: normal normal 400 40px Quicksand,serif !important;
    --h2-font: normal normal 400 28px Quicksand,serif !important;
    --h4-font: normal normal 400 14px Quicksand,serif !important;
    --heading: normal normal 400 34px Quicksand,serif !important;
}